<div class="registro-container">
  <form class="form-izquierda" (ngSubmit)="registrarUsuario()" #f="ngForm">
    <h2>Ingrese sus datos</h2>

    <input type="text" name="serie" [(ngModel)]="serie" placeholder="Serie de credencial" maxlength="3" required />
    <input type="text" name="numero" [(ngModel)]="numero" placeholder="Número de credencial" maxlength="5" required />
    <input type="text" name="ci" [(ngModel)]="ci" placeholder="Número de cédula" required pattern="^[0-9]{6,8}$" />

    <input type="email" name="email" [(ngModel)]="email" placeholder="Correo electrónico" required />

    <button type="button" (click)="verificarDatos()">Verificar datos</button>

    <input type="password" [(ngModel)]="password" name="password" placeholder="Contraseña" [disabled]="!datosValidos" />
    <input type="password" [(ngModel)]="confirmar" name="confirmar" placeholder="Repetir contraseña" [disabled]="!datosValidos" />

    <button type="submit" [disabled]="!datosValidos">Registrarse</button>
    <p *ngIf="mensaje">{{ mensaje }}</p>
  </form>

  <div class="datos-derecha">
    <label>Nombre</label>
    <input type="text" [value]="nombre" readonly />

    <label>Apellido</label>
    <input type="text" [value]="apellido" readonly />

    <label>Departamento</label>
    <input type="text" [value]="departamento" readonly />

    <label>Circuito asignado</label>
    <input type="text" [value]="circuito" readonly />
  </div>
</div>
